html body {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
}
h1,
h2,
h3 {
  margin: 10px;
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}

p {
  font-size: 28px;
  margin: 10px;
}
a {
  color: aliceblue;
  margin: 10px;
}
header,
footer {
  background-color: rgb(41, 41, 41);
  padding: 20px;
}
header li,
footer li {
  display: inline-block;
  margin: 5px;
}
header {
  margin-bottom: 10px;
}
footer {
  margin-top: 10px;
}

.reviews {
  background-color: rgb(211, 211, 211);
}
.view_our_guitars {
  background-color: rgb(248, 248, 248);
}
main a {
  background-color: red;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
}
.view_our_guitars div {
  padding-top: 5px;
}
.on_sale a {
  background-color: green;
}
.on_sale a:hover {
  background-color: lightgreen;
}
a:hover {
  background-color: lightcoral;
}
img {
  padding: 10px;
}
.banner_img {
  width: 50%;
}
